<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>Księga Intencji</title>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <span sec:authorize="isAuthenticated()" style="color: #ffffff;" th:inline="text">Witaj, [[${#httpServletRequest.getUserPrincipal().getName()}]]!</span>
        <li class="nav-item">
            <a sec:authorize="isAuthenticated()" class="nav-link" th:href="@{add-new-intention}">Dodaj intencję</a>
        </li>
        <li class="nav-item">
            <a sec:authorize="isAuthenticated()" class="nav-link" th:href="@{show-all-workers}">Pokaż pracowników</a>
        </li>
        <li class="nav-item">
            <a sec:authorize="isAuthenticated()" class="nav-link" th:href="@{calendar-info}">Kalendarz liturgiczny</a>
        </li>
        <li class="nav-item">
            <a sec:authorize="!isAuthenticated()" class="nav-link" th:href="@{login}">Zaloguj</a>
        </li>
        <li class="nav-item">
            <a sec:authorize="isAuthenticated()" class="nav-link" th:href="@{logout}">Wyloguj</a>
        </li>
    </ul>
</nav>

<div class="container">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Data Mszy Świętej</th>
            <th>Godzina Mszy Świętej</th>
            <th>Intencja</th>
            <th>Celebrans</th>
            <th sec:authorize="isAuthenticated()">Intencję przyjął</th>
            <th sec:authorize="isAuthenticated()">Przyjęta ofiara (zł)</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="ourIntention : ${intention}">
            <td th:text="${ourIntention.getDateOfMass()}"/>
            <td th:text="${ourIntention.getTimeOfMass()}"/>
            <td th:text="${ourIntention.getDescriptionOfIntention()}"/>
            <td th:text="${ourIntention.getWhichPriest()}"/>
            <td sec:authorize="isAuthenticated()" th:text="${ourIntention.getWhoAddIntention().getFullName()}"/>
            <td sec:authorize="isAuthenticated()" th:text="${ourIntention.getPayment()}"/>
        </tr>
        </tbody>
    </table>
    </hr>
</div>
</body>
</html>