<!DOCTYPE html>
<html lang="PL" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="../static/login.css" th:href="@{/login.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>Zaloguj się</title>
</head>
<body>
<div class="login-form">
    <div th:if="${loginError}">
        <div class="alert alert-danger">
            Podaną złą nazwę lub hasło. Spróbuj ponownie!
        </div>
    </div>
    <form th:action="@{login}" method="post">
        <h2 class="text-center">Zaloguj się</h2>
        <div class="form-group">
            <input type="text" class="form-control" id="username" name="username" autofocus="autofocus" placeholder="Nazwa użytkownika" required="required">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" id="password" name="password" placeholder="Hasło" required="required">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Zaloguj!</button>
        </div>
    </form>
</div>
</body>
</html>